<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<form class="client-form" novalidate angular-validator name="editRoleForm">
				<div class="add-user mtb20px ">
					<div class="col-sm-6">
						<div class="form-group height-auto">
							<label>Role Name:</label>
							<label class="readonly read-input">{{roleApproverView.name}}</label>
						 
						</div>
					</div>

				<ng-include src=rolePermissionsView></ng-include>

				</div>
				<div class="btnbox plr15px">
					<div class=" pull-right">
						<button type="submit" ng-click="updateExistRole(editRoleForm)" class="btn btn-compose">Update</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>