<div class="container-fluid" ng-if="pwdReset">
	<div class="row mtb20px reset-password">
		<form class="client-form" novalidate angular-validator name="resetPasswordForm">
			<div class="col-sm-12 ac ">
				<p>Enter a new password for your account. We highly recommend you to create a unique password.</p>
			</div>
			<div class="col-sm-6 col-sm-offset-3 mt20px">
				<div class="reset center-block">
					<div class="form-group">
						<label>New Password</label>
						<input type="password" name="password" ng-model="password" class="form-control" placeholder="New Password" validator="formValidator.passwordValidator(password) === true"
								 invalid-message="formValidator.passwordValidator(password)" required />
					</div>
					<div class="form-group">
						<label>Confirm New Password</label>
						<input type="password" validator="password === rpassword"  invalid-message="'Password do not match!'" name="rpassword" ng-model="rpassword" class="form-control" placeholder="Confirm New Password" required />
					</div>
					<div class="form-group ac">
						<button type="submit" name="submit" class="btn btn-compose" ng-click="resetPassword(resetPasswordForm,password,rpassword)">Reset Password</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="container-fluid" ng-if="!pwdReset">
	<h4>{{successMsg}}</h4>


	<a ui-sref="login" title="Login">Go to Login</a>
</div>
<div class="container-fluid" ng-if="expiredLinkMsgStatus">
	<h4>{{expiredLinkMsg}}</h4>
	<a ui-sref="login" title="Login">Go to Login</a>
</div>


