<div class="container-fluid">
	<div class="row">
		<form class="client-form">
			<div class="col-sm-3 mt20px">
				<a ui-sref="createRole" class="btn btn-default"  ><span class="add-icon"></span> Create Role</a>
			</div>
			<div class="col-sm-4 pull-right mt20px">
				<div class="form-group height-auto">
					<div class="input-group">															
						<input type="text" class="form-control input-text-addon" ng-model="searchKey"  placeholder="Search" />
						<span class="input-group-addon search-icon" ng-if="searchKey.length" ng-click="getRoleView(0)"><i class="fa fa-search"></i></span>
						<span class="input-group-addon search-icon" ng-if="!searchKey.length"><i class="fa fa-search"></i></span>
					</div>
				</div>
			</div>
		</form>
		<div class="col-sm-12 mt10px">
			<form class="client-form">
				<div class="add-client ">
					<div class="setting-content">
					
						<div class="socio-table table-responsive ">
							<table class="table table-striped table-bordered settings">
								<thead>

									<th class="small-width">S.No</th>

									<th ng-click="sortBy('name',dir)" >Name <i class="fa fa-sort-amount-{{dir}} fr {{dir}}-sort" aria-hidden="true"></i></th>
									<th>Action</th>
								</thead>
								<tbody>
									<tr ng-repeat="(key, value) in viewRoleData">
                                        <td class="ac">{{indexer + key+1}}</td>
										<td><label>{{value.name}}</label></td>
										<td>
											<ul class="action-listing pl0px">

												
												<li><a ng-click="actionRoleData(value)" ui-sref="viewRoles"><i class="fa fa-eye vertical-top" aria-hidden="true"></i>  </a></li>
												<li><a ng-click="actionRoleData(value)" ui-sref="editRole"><i class="fa fa-pencil-square-o vertical-top" aria-hidden="true"></i> </a></li>
												<li><a data-toggle="modal" ng-click="deleteRecord(value)" href="#delete"> <span class="trash-icon"></span> </a></li>

												<li>
													<label class="switch">
														<input ng-model="switchControl" ng-checked="value.status==1?1:0" class="switch-input" type="checkbox" ng-click="enableRoleData(value, switchControl)"  />
														<span class="switch-label"  data-on="On" data-off="Off"></span> <span class="switch-handle"></span> 
													</label>
												</li>
											</ul>
										</td>
									</tr>
									<tr ng-if="!viewRoleData">
										<td colspan="3">No Data Found...</td>
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="page-nation mt20px">
					<ng-include src="'includes/pagination.html'"></ng-include>
				</div>
			</form>
		</div>
	</div>
</div>

<ng-include src=popUpModal></ng-include>