<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10 mtb20px">
			<form class="client-form" novalidate angular-validator name="createBrandForm" autocomplete="off">

				<div class="col-sm-12">
					<div class="form-group sm-height"  ng-if="adminClientDropdown">
						<div class="row" >
							<div class="col-sm-3">
								<label class="pt10px pull-right">Select Client:</label>
							</div>
							<div class="col-sm-9">
								<div class="form-group height-auto">

									<div ng-dropdown-multiselect="" class="custom_dropdown" extra-settings="extraSettings" options="clientOpt" selected-model="selectedClient"
									 events="{ onItemSelect: changeClient, onItemDeselect: onDeselectClient }"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group sm-height">
						<div class="row">
							<div class="col-sm-3">
								<label class="pt10px pull-right">Brand Name:</label>
							</div>
							<div class="col-sm-9">
								<div class="row">
									<div class="col-sm-4">
										<input id="selectBrand" type="text" ng-model="newBrandInfo.name" placeholder="Brand name" class="form-control" name="newBrandInfo.name" validator="brandListValidator(newBrandInfo.name) === true"
										 invalid-message="brandListValidator(newBrandInfo.name)" />




									</div>
									<div class="col-sm-2 p0px">
										<label class="pt10px pull-right">Brand Logo:</label>
									</div>
									<div class="col-sm-6">
										<input   type="file" class="form-control" ngf-select="" ng-model="newBrandInfo.file" name="file" 
											 ngf-max-height="10000" ngf-max-size="40MB" ng-change="changeMySrc()" />



										<label class="note"><em>Maximum size of 2 MB is allowed</em></label>
									</div>
									<div class="col-sm-12 brands">
										<button type="button" class="btn btn-default addcomptr " ng-click="addBrand()"><span class="add-icon"></span> <span class="text">Add</span></button>
										<ul class="brand-listing create pl0px " ng-if="addedBrands.length>0">

											<li ng-if="value!=null" class="" ng-repeat="(key, value) in addedBrands track by $index">
												<div class="dis-flex">
													<div class="flex-ch1 ">
														<img ng-src="{{value.fileSrc}}" class="img-responsive center-block" />
													</div>
													<div class="flex-ch2">
														<label class="">{{value.name}}</label>
													</div>
												</div>
												<div class="create-posab"><a class=""><i class="fa fa-close" ng-click="removeBrand(key)"></i></a></div>
											</li>

										</ul>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group mt10px">
						<div class="row">
							<div class="col-sm-3">

							</div>
							<div class="col-sm-9" style="top:15px;">
								<input type="submit" name="submit" name="saveClient" ng-click="createNewBrand(createBrandForm)" class="btn btn-compose" value="Save"
								/>
							</div>
						</div>

					</div>
				</div>
			</form>
		</div>
	</div>
</div>