<div class="row mt10px">
	<div class="col-sm-12 ">
		<div class="summary-box panel fx-hg">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-5">
						<h4 class="panel-title">Trending</h4>
					</div>
					<div class="col-sm-7">
						<ul class="summary-filter navbar-right ">
							<li ng-class="{'active': allTrendPost}"><a ng-click="filterTrendPost('all')" class="filter">All</a></li>
							<li ng-show="false" ng-class="{'active': facebookTrendPost}"><a ng-click="filterTrendPost('facebook')" class="filter"><i class="fa fa-facebook"></i></a></li>
							<li ng-class="{'active': twitterTrendPost}"><a ng-click="filterTrendPost('twitter')" class="filter"><i class="fa fa-twitter"></i></a></li>
							<li ng-show="false" ng-class="{'active': linkedinTrendPost}"><a ng-click="filterTrendPost('linkedin')" class="filter"><i class="fa fa-linkedin"></i></a></li>
							<li ng-show="false" ng-class="{'active': googleTrendPost}"><a ng-click="filterTrendPost('google')" class="filter"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="trending-tab">
					<ul class="nav nav-tabs" role="tablist">
						<li ng-if="showRecommended" role="presentation" class="active"><a ng-click="getTrends()" href="#recommended" aria-controls="recommended" role="tab" data-toggle="tab">Recommended</a></li>
						<li role="presentation" ng-class="{'active': !showRecommended}"><a ng-click="getTrends('global')" href="#global" aria-controls="global" role="tab" data-toggle="tab">Global</a></li>
					</ul>
					<div class="tab-content">
						<div ng-if="showRecommended" role="tabpanel" class="tab-pane fade in active" id="recommended">
							<ul class="key-list ">
								<div class="timeline-wrapper-no-boreder" style="height: 60px;overflow: hidden" ng-hide="trendsData">
									<div class="timeline-item pl10px">
										<div class="animated-background" style="height: 96px; margin-top: -60px">
											<div class="background-masker header-top"></div>
											<div class="background-masker header-left"></div>
											<div class="background-masker header-right"></div>
											<div class="background-masker header-bottom"></div>
											<div class="background-masker subheader-left"></div>
											<div class="background-masker subheader-right"></div>
											<div class="background-masker subheader-bottom"></div>
											<div class="background-masker content-top"></div>
											<div class="background-masker content-first-end"></div>
											<div class="background-masker content-second-line"></div>
											<div class="background-masker content-second-end"></div>
											<div class="background-masker content-third-line"></div>
											<div class="background-masker content-third-end"></div>
										</div>
									</div>
								</div>
								<li ng-if="key<10" ng-repeat="(key,value) in trendsData">
									<a title="{{value.name}}" href="{{value.url}}" target="_blank">{{value.name}}</a></li>
							</ul>
							<ul class="trending-post" ng-scrollbars ng-scrollbars-config="configScroll">

								<div ng-repeat="x in loaderArray" class="timeline-wrapper-no-boreder" ng-hide="popularTweetsData">
									<div class="timeline-item pl10px">
										<div class="animated-background">
											<div class="background-masker header-top"></div>
											<div class="background-masker header-left"></div>
											<div class="background-masker header-right"></div>
											<div class="background-masker header-bottom"></div>
											<div class="background-masker subheader-left"></div>
											<div class="background-masker subheader-right"></div>
											<div class="background-masker subheader-bottom"></div>
											<div class="background-masker content-top"></div>
											<div class="background-masker content-first-end"></div>
											<div class="background-masker content-second-line"></div>
											<div class="background-masker content-second-end"></div>
											<div class="background-masker content-third-line"></div>
											<div class="background-masker content-third-end"></div>
										</div>
									</div>
								</div>
								<!--<li ng-repeat="(key,value) in popularTweetsData" class=" dis-flex">
									<div class="platform mt10px">
										<div class="platform-icon"><i class="fa fa-twitter"></i></div>
									</div>
									<div class="post-summary">
										<div ng-if="value.extended_entities.media[0].media_url_https" class="col-sm-2 p0px">
											<a target="_blank" ng-href="{{value.extended_entities.media[0].expanded_url}}" class="tweet-img">
											<img ng-src="{{value.extended_entities.media[0].media_url_https}}" class="img-responsive" />
											</a>
										</div>
										<div ng-class="{'col-sm-10': value.extended_entities.media[0].media_url_https!=null, 'col-sm-12': value.extended_entities.media[0].media_url_https==null}">
											<h4 ng-bind-html="value.text|toUrl" class="task-title">{{value.text|toUrl}}</h4>
											<ul class="mb0px post-comments">
												<li class="retweet"><i class="fa fa-retweet"></i> {{value.retweet_count | numberFormat : 1}}</li>
												<li class="favourite"><i class="fa fa-heart"></i> {{value.favorite_count | numberFormat : 1}} </li>
												<li><i class="fa fa-clock-o"></i>{{value.created_at | toTwitterData | date: 'MMM dd, yyyy - h:mm a'}}</li>
											</ul>
										</div>
									</div>
								</li>-->
								<li ng-repeat="(key,value) in popularTweetsData" class=" dis-flex">
									<div class="col-sm-1 pr0px">
										<div class="profile-image">
											<img class="img-responsive center-block" ng-src="{{value.user.profile_image_url}}" />
										</div>
										<div class="platform mt10px">
											<div class="platform-icon text-center"><i class="fa fa-twitter"></i></div>
										</div>
									</div>
									<div class="col-sm-11 ">
										<div class="tweet-summary">
											<div ng-class="{'col-sm-10 pl0px': value.extended_entities.media[0].media_url_https!=null, 'col-sm-12 pl0px': value.extended_entities.media[0].media_url_https==null}">
												<h3 class="profile-name"><a target="_blank" href="https://twitter.com/{{value.user.screen_name}}">{{value.user.name}}</a> <small class="handler-name"><a target="_blank" href="https://twitter.com/{{value.user.screen_name}}">@{{value.user.screen_name}}</a></small></h3>

												<h4 ng-bind-html="value.text|toUrl" class="task-title">{{value.text|toUrl}}</h4>
												<ul class="mb0px post-comments">
													<li class="retweet"><i class="fa fa-retweet"></i> {{value.retweet_count | numberFormat : 1}}</li>
													<li class="favourite"><i class="fa fa-heart"></i> {{value.favorite_count | numberFormat : 1}} </li>
													<li><i class="fa fa-clock-o"></i>{{value.created_at | toTwitterData | date: 'MMM dd, yyyy - h:mm a'}}</li>
												</ul>
											</div>
											<div ng-if="value.extended_entities.media[0].media_url_https" class="col-sm-2 pl0px">
												<a target="_blank" ng-href="{{value.extended_entities.media[0].expanded_url}}" class="tweet-img">
													<img ng-src="{{value.extended_entities.media[0].media_url_https}}" class="img-responsive" />
													</a>
											</div>
										</div>
									</div>

								</li>

							</ul>
						</div>
						<div role="tabpanel" class="tab-pane fade in" ng-class="{'active': !showRecommended}" id="global">
							<ul class="key-list ">
								<div class="timeline-wrapper-no-boreder" style="height: 60px;overflow: hidden" ng-hide="trendsData">
									<div class="timeline-item pl10px">
										<div class="animated-background" style="height: 96px; margin-top: -60px">
											<div class="background-masker header-top"></div>
											<div class="background-masker header-left"></div>
											<div class="background-masker header-right"></div>
											<div class="background-masker header-bottom"></div>
											<div class="background-masker subheader-left"></div>
											<div class="background-masker subheader-right"></div>
											<div class="background-masker subheader-bottom"></div>
											<div class="background-masker content-top"></div>
											<div class="background-masker content-first-end"></div>
											<div class="background-masker content-second-line"></div>
											<div class="background-masker content-second-end"></div>
											<div class="background-masker content-third-line"></div>
											<div class="background-masker content-third-end"></div>
										</div>
									</div>
								</div>
								<li ng-if="key<10" ng-repeat="(key,value) in trendsData">
									<a title="{{value.name}}" href="{{value.url}}" target="_blank">{{value.name}}</a>
								</li>
							</ul>
							<ul class="trending-post" ng-scrollbars ng-scrollbars-config="configScroll">
								<div ng-repeat="x in loaderArray" class="timeline-wrapper-no-boreder" ng-hide="popularTweetsData">
									<div class="timeline-item pl10px">
										<div class="animated-background">
											<div class="background-masker header-top"></div>
											<div class="background-masker header-left"></div>
											<div class="background-masker header-right"></div>
											<div class="background-masker header-bottom"></div>
											<div class="background-masker subheader-left"></div>
											<div class="background-masker subheader-right"></div>
											<div class="background-masker subheader-bottom"></div>
											<div class="background-masker content-top"></div>
											<div class="background-masker content-first-end"></div>
											<div class="background-masker content-second-line"></div>
											<div class="background-masker content-second-end"></div>
											<div class="background-masker content-third-line"></div>
											<div class="background-masker content-third-end"></div>
										</div>
									</div>
								</div>
								<!--<li ng-repeat="(key,value) in popularTweetsData" class=" dis-flex">
									<div class="platform mt10px">
										<div class="platform-icon"><i class="fa fa-twitter"></i></div>
									</div>
									<div class="post-summary">
										<div ng-if="value.extended_entities.media[0].media_url_https" class="col-sm-2 p0px dis-flex-center">
											<a target="_blank" ng-href="{{value.extended_entities.media[0].expanded_url}}" class="tweet-img" >
											<img ng-src="{{value.extended_entities.media[0].media_url_https}}"  class="img-responsive" />
											</a>
										</div>
										<div ng-class="{'col-sm-10': value.extended_entities.media[0].media_url_https!=null, 'col-sm-12': value.extended_entities.media[0].media_url_https==null}">
											<h4 ng-bind-html="value.text|toUrl" class="task-title">{{value.text|toUrl}}</h4>
											<ul class="mb0px post-comments">
												<li class="retweet"><i class="fa fa-retweet"></i> {{value.retweet_count | numberFormat : 1}}</li>
												<li class="favourite"><i class="fa fa-heart"></i> {{value.favorite_count | numberFormat : 1}} </li>
												<li><i class="fa fa-clock-o"></i>{{value.created_at | toTwitterData |  date: 'MMM dd, yyyy - h:mm a'}}</li>
											</ul>
										</div>
									</div>
								</li>-->
								<li ng-repeat="(key,value) in popularTweetsData" class=" dis-flex">
									<div class="col-sm-1 pr0px">
										<div class="profile-image">
											<img class="img-responsive center-block" ng-src="{{value.user.profile_image_url}}" />
										</div>
										<div class="platform mt10px">
											<div class="platform-icon text-center"><i class="fa fa-twitter"></i></div>
										</div>
									</div>
									<div class="col-sm-11 ">
										<div class="tweet-summary">
											<div ng-class="{'col-sm-10 pl0px': value.extended_entities.media[0].media_url_https!=null, 'col-sm-12 pl0px': value.extended_entities.media[0].media_url_https==null}">
												<h3 class="profile-name"><a target="_blank" href="https://twitter.com/{{value.user.screen_name}}">{{value.user.name}}</a> <small class="handler-name"><a target="_blank" href="https://twitter.com/{{value.user.screen_name}}">@{{value.user.screen_name}}</a></small></h3>

												<h4 ng-bind-html="value.text|toUrl" class="task-title">{{value.text|toUrl}}</h4>
												<ul class="mb0px post-comments">
													<li class="retweet"><i class="fa fa-retweet"></i> {{value.retweet_count | numberFormat : 1}}</li>
													<li class="favourite"><i class="fa fa-heart"></i> {{value.favorite_count | numberFormat : 1}} </li>
													<li><i class="fa fa-clock-o"></i>{{value.created_at | toTwitterData | date: 'MMM dd, yyyy - h:mm a'}}</li>
												</ul>
											</div>
											<div ng-if="value.extended_entities.media[0].media_url_https" class="col-sm-2 pl0px">
												<a target="_blank" ng-href="{{value.extended_entities.media[0].expanded_url}}" class="tweet-img">
													<img ng-src="{{value.extended_entities.media[0].media_url_https}}" class="img-responsive" />
													</a>
											</div>
										</div>
									</div>

								</li>

							</ul>
						</div>
					</div>
				</div>

			</div>
			<div class="panel-footer">
				<a ui-sref="trending"> <span>View More <i class="fa fa-angle-double-right"></i></span> </a>
			</div>
		</div>
	</div>
</div>